nav {
    height: 80px;
    width: 100%;
    background: #000000;
}

ul li {
    position: relative;
}
  
.navLinks {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
}

.rectangle79 {
    /* Rectangle 79 */
    position: absolute;
    width: 195px;
    height: 36px;
    left: 77px;
    top: 22px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
  
.thisInterior {
    position: absolute;
    width: 190px;
    height: 16px;
    left: 10px;
    top: 8px;
  
    font-family: Crimson Pro;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 16px;
  
    text-transform: uppercase;
    color: #FFFFFF;
}
  
.home {
    font-weight: bold;
    color: #FFFFFF;
}
  
.coll,
.about,
.contact {
    font-weight: 500;
    color: #FFFFFF;
}

.menu {
    display: none;
}

@media (max-width: 1195px){
    .rectangle79 {
        width: 190px;
        height: 38px;
        left: 12px;
        top: 19px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }
  
    .thisInterior {
        width: 150px;
        height: 16px;
        left: 20px;
        top: 10px;
    
        font-family: Crimson Pro;
        font-style: normal;
        font-weight: 200;
        font-size: 20px;
        line-height: 16px;
    
        text-transform: uppercase;
        color: #FFFFFF;
    }
    nav ul li {
        line-height: 80px;
        margin: 0 20px;
        font-size: 22px;
    }
}
  
@media screen and (max-width: 688px) {
    nav ul li {
        line-height: 80px;
        font-size: 24px;
        display: table;
    }

    .home, .coll, .about, .contact {
        text-align: center;
        width: 100%;
        padding: 2rem 25rem;
    }

    .home:hover,
    .coll:hover,
    .about:hover,
    .contact:hover {
        background-color: rgba(54, 54, 54, 0.74);
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navLinks.active {
        background: #000000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    
    .line {
        width: 30px;
        height: 3px;
        background: #FFFFFF;
        margin: 5px;
    }
  
    nav {
        position: relative;
    }
    
    .menu{
        position: absolute;
        right: 5%;
        top: 26%;
        font-size: 35px;
        color: #FFFFFF;
        display: inline;
        cursor: pointer;
    }
}
  